---
import "../styles/global.css";
import ShinyText from "../components/ui/animations/ShinyText/ShinyText.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-black">
		<div class="p-8">
			<ShinyText 
				text="Welcome to TuringBox" 
				speed={3} 
				className="text-4xl font-bold"
				client:load
			/>
			
			<div class="mt-8">
				<ShinyText 
					text="Building the future with AI" 
					speed={5} 
					className="text-2xl"
					client:load
				/>
			</div>
			
			<div class="mt-8">
				<ShinyText 
					text="This effect is disabled" 
					disabled={true} 
					className="text-lg"
					client:load
				/>
			</div>
		</div>
	</body>
</html>
